@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.container {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  background-color: #ecf0f1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px 0;
  gap: 20px 0;
  grid-auto-flow: row;
  grid-template-areas: "Pie Header Header" "Pie Header Header" "Pie Time-Selector Time-Selector" "Pie General-Info General-Info" "Pie General-Info General-Info" "Pie General-Info General-Info" "Pie General-Info General-Info" "Pie General-Info General-Info" "Devices Graph Graph" "Devices Graph Graph" "Devices Graph Graph" "Devices Graph Graph" "Devices Graph Graph" "Devices Graph Graph" "Devices Postal-Info Postal-Info" "Devices Postal-Info Postal-Info" "Devices Postal-Info Postal-Info" "Devices Postal-Info Postal-Info" "Footer Footer Footer";
}
.Pie {
  grid-area: Pie;
  margin-top: 20px;
}
.Header {
  grid-area: Header;
  background-color: #52af3f;
}
.Time-Selector {
  grid-area: Time-Selector;
}
.General-Info {
  grid-area: General-Info;
  background: #474747;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 18px;
  margin-bottom: 10px;
}
.Graph {
  grid-area: Graph;
  margin-bottom: 10px;
}
.Devices {
  margin-top: 20px;
  grid-area: Devices;
  z-index: 10;
  overflow-y: scroll;
}
.Postal-Info {
  grid-area: Postal-Info;
  background: #c22626;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 18px;
}
.Footer {
  grid-area: Footer;
}
.graph {
  background: #f6f6f6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 18px;
  padding-bottom: 40px;
  padding-left: 20px;
}
.graph,
.piegraph {
  height: 100%;
  width: 100%;
}
.piegraph {
  position: relative;
}
.overlay {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  z-index: 1;
}
.overlay,
.piechart {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.piechart {
  transform: scale(120%) translateY(4%);
  z-index: 2;
}
.powerusage {
  font-size: 1.25rem;
  font-weight: 400;
}
.wattamount {
  font-weight: 800;
  font-size: 2.5rem;
  transform: translateY(5px);
}
.watts {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 3%;
}
.logo {
  height: 100%;
  width: auto;
  margin-left: 3%;
}
.dashboardText {
  font-size: 2.4rem;
  color: #fff;
  margin-left: 3%;
}
.addDevice {
  background-color: #316526;
  height: 50%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 75px;
  margin-left: 16%;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 5%;
  gap: 5%;
  justify-content: center;
  text-decoration: none;
}
.scanIcon {
  color: #fff;
  height: 80%;
  width: inherit;
}
.settings {
  background-color: #fff;
  height: 50%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 75px;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 5%;
  gap: 5%;
  justify-content: center;
}
.settingIcon {
  color: #316526;
  height: 80%;
  width: inherit;
}
.logOut {
  background-color: #d35400;
  height: 50%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 75px;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 5%;
  gap: 5%;
  justify-content: center;
}
.logOutIcon {
  color: #fff;
  height: 80%;
  width: inherit;
}
.general-box,
.range-bar {
  width: 100%;
  height: 100%;
}
.general-box {
  background: #f6f6f6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kosten-test {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 1.5rem;
}
.range-bar-box {
  height: 50%;
  width: 100%;
}
.text-items {
  display: flex;
  grid-gap: 100px;
  gap: 100px;
}
.device-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 18px;
  position: relative;
  overflow: hidden;
  width: 85%;
  height: 80px;
  margin: 10px auto 20px;
}
.block {
  height: 100%;
  width: 30px;
  transform: scale(300%);
  margin-right: 40px;
}
.device-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.power-icon {
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 40px;
}
.device-name {
  font-weight: 600;
  font-size: 1.3rem;
  max-width: 220px;
}
.power-card {
  padding: 5px 10px;
  border-radius: 26px;
  margin-left: auto;
}
.power-data-label {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
/*# sourceMappingURL=main.b883c4f7.chunk.css.map */
